<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
       
       <bean class="com.universal.implementer.MetalDoor"
       name="md"></bean>
       
       <bean class="com.universal.implementer.GlassDoor"
       name="gd"></bean>
       
       <!-- constructor injection -->
       <bean class="com.universal.entity.Car" name="mCar">
	       <constructor-arg name="door" ref="md">
	       </constructor-arg>
       </bean>
       
       <!-- setter injection -->
       <bean class="com.universal.entity.Car" name="gCar">
	       <property name="door" ref="gd"></property>
       </bean>
</beans>       





